/*
.clear {
    position: relative;
    display: table;
}
.clear:after {
    content: '. .';
    display: block;
    word-spacing: 99in;
    height: 0;
    overflow: hidden;
    font-size: 0.13em;
    line-height: 0;
}
.header {
    width: 100%;
    height: 80px;
    background: black;
 }
.header__wrap,
.demo-video__wrap,
.our-services__wrap {
    width: 1180px;
    box-sizing: border-box;
    margin: 0 auto;
    font-family: sans-serif;
}
.logo{
    font-size: 20px;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    float: left;
    padding: 30px 0;
}
.header__menu{
    float: left;
    padding: 30px 0;
}
.header__link{
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-family: sans-serif;
    margin-left: 40px;
    clear: both;
}
.header__menu .header__link:first-child{
    margin-left: 130px;
}
.button {
    float: right;
    outline: none;
    margin-top: 21px;
    color: rgb(66, 184, 221);
    font-size: 15px;
    padding: 8px 19px;
    border: 2px solid rgb(66, 184, 221);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: rgb(0, 0, 0);
}
.button:hover{
    background: rgb(66, 184, 221);
    color: #ffffff;
}
.demo-video{
    height: 820px;
    background: #666666;
}
.demo-video__wrap{
    border-top: 1px solid #666666;
}
.demo-video__icon{
    margin: 345px 40px 0 0;
    float: left;
}
.demo-video__comment{
    color: #ffffff;
    font-size: 60px;
    margin: 380px 0 10px 0;
}
.demo-video__link{
    color: #42b8dd;
    text-decoration: none;
    margin-left: 3px;
}
.our-services {
    height: 360px;
    background: #42b8dd;
}
.our-services__wrap{
    color: #ffffff;
    padding-top: 50px;
}
.name-block{
    font-size: 68px;
    font-weight: bold;
    text-transform: uppercase;
    width: 370px;
    box-sizing: border-box;
    border-bottom: 10px solid white;
    line-height: 62px;
    float: left;
}
.our-services__block{
    width: 370px;
    height: 100px;
    display: inline-block;
    margin: 0 0 60px 30px;
}
.our-services__block:nth-child(3),
.our-services__block:nth-child(4){
    margin-bottom: 0;
}
.our-services__icon{
    float: left;
    margin-right: 30px;
}
.our-services__name{
    margin-top: 10px;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
}
.our-services__text{
    margin-top: 15px;
    font-size: 12px;
    line-height: 1.5;
}
.icon-block{
    height: 150px;
    background: #ffffff;
}
.icon-block__wrap{
    text-align: center;
    padding-top: 60px;
}
.icon-block__icon{
    display: inline-block;
    margin-right: 165px;
}
.icon-block__icon:first-child{
    margin-left: 75px;
}
.icon-block__icon:last-child{
    margin-right: 75px;
}
*/
