.add-button{
  width: 30px;
  height: 30px;
  background: @color-basic url("img/plus.png") no-repeat 50% 50%;
  border-radius: 15px;
  outline: none;
  border: none;
  float: left;
  &:active{
    background: darken(@color-basic, 30%) url("img/plus.png") no-repeat 50% 50%;
  }
}