.button {
  background: inherit;
  width: 90px;
  outline: none;
  color: @color-basic;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  padding: 8px 0;
  border: 2px solid @color-basic;
  border-radius: 10px;
  &:hover{
    background: @color-basic;
    color: #ffffff;
  }
  &:active{
    background: darken(@color-basic, 30%);
    border-color: darken(@color-basic, 30%);
  }
}