.clients{
  background: #7f7f7f;
  &__wrap{
    .wrap();
    padding: 28px 0;
    font-size: 0;
    text-align: center;
  }
  &__block{
    display: inline-block;
    height: 95px;
    width: 170px;
    margin-right: 30px;
    background-color: #a6a6a6;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    &:last-child{
      margin-right: 0;
    }
    &_envato{
      background-image: url("img/client-envato.png");
    }
    &_dribbble{
      background-image: url("img/client-dribbble.png");
    }
    &_word{
      background-image: url("img/client-words.png");
    }
  }
}