.contact{
  background: #ebebeb;
  &__wrap{
    .wrap();
    padding-top: 95px;
    padding-bottom: 140px;
    background: #ebebeb;
  }
  &__adress{
    margin-top: 40px;
    color: #898989;
  }
  &__social{
    font-size: 0;
  }
  &__icon{
    display: inline-block;
    background: url("img/social-sprites.png") no-repeat;
    height: 17px;
    width: 17px;
    margin-top: 30px;
    margin-right: 15px;
    &:last-child{
      margin-right: 0;
    }
    &_twitter{
      background-position: 1px 1px;
    }
    &_facebook{
      background-position: 3px -22px;
    }
    &_googleplus{
      background-position: 0 -48px;
    }
    &_pinterest{
      background-position: 0 -74px;
    }
    &_instagram{
      background-position: 0 -99px;
    }
    &_youtube{
      background-position: 0 -122px;
    }
    &_skype{
      background-position: 0 -145px;
    }
    &_basket{
      background-position: 0 -170px;
    }
  }
  &__form{
    font-size: 0;
    margin-top: 50px;
  }
  &__cell{
    border: 2px solid #363636;
    padding: 17px;
    box-sizing: border-box;
    color: #363636;
    font-weight: bold;
    text-transform: uppercase;
    width: 370px;
    margin-right: 30px;
    font-size: 14px;
    font-family: sans-serif;
    &:focus{
      outline: none;
    }
    &::-webkit-input-placeholder{
      color: #363636;
      font-weight: bold;
      text-transform: uppercase;
      padding-left: 20px;
    }
    &_email{
      &::-webkit-input-placeholder{
        background: url("img/form-1.png") no-repeat 0 50%;
      }
    }
    &_name{
      &::-webkit-input-placeholder{
        background: url("img/form-2.png") no-repeat 0 50%;
      }
    }
    &_message{
      width: 770px;
      height: 80px;
      margin-top: 30px;
      resize: none;
      &::-webkit-input-placeholder{
        background: url("img/form-3.png") no-repeat 0 50%;
        font-size: inherit;
      }
    }
  }
  &__button{
    background: #ffffff;
    border: none;
    width: 370px;
    height: 80px;
    cursor: pointer;
    vertical-align: bottom;
    &-icon{
      vertical-align: middle;
      height: 30px;
      width: 30px;
    }
    &:hover{
      background: #ffffff;
      color: @color-basic;
    }
    &:active{
      background: darken(@color-basic, 30%);
      border-color: darken(@color-basic, 30%);
      color: #ffffff;
    }
  }
}
