.demo-video{
  height: 820px;
  background: #666666;
  &__wrap{
    border-top: 1px solid #666666;
    .wrap();
  }
  &__icon{
    margin: 345px 40px 0 0;
    float: left;
  }
  &__comment{
    color: #ffffff;
    font-size: 60px;
    margin: 380px 0 10px 0;
  }
  &__link{
    color: @color-basic;
    text-decoration: none;
    margin-left: 3px;
  }
}