.footer{
  background: #252525;
  &__wrap{
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: center;
    color: #555555;
    .wrap();
  }
  &__text{
    margin-top: 10px;
    line-height: 1.5;
  }
  &__gotop{
    display: block;
    margin-top: 10px;
  }
}
