.header {
  width: 100%;
  height: 80px;
  background: black;
  &__wrap{
    .wrap();
  }
  &__logo{
    float: left;
    padding: 30px 0;
  }
  &__menu{
    float: left;
    padding: 30px 0;
  }
  &__link{
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-family: sans-serif;
    margin-left: 40px;
    clear: both;
    &:first-child{
      margin-left: 130px;
    }
  }
  &__button{
    float: right;
    margin-top: 21px;
  }
}