.icon-block{
  height: 150px;
  background: #ffffff;
  font-size: 0;
  &__wrap{
    text-align: center;
    padding-top: 60px;
  }
  &__icon{
    display: inline-block;
    margin-right: 165px;
    &:first-child{
      margin-left: 75px;
    }
    &:last-child{
      margin-right: 75px;
    }
  }
}