.meter{
  background: #666666;
  color: #ffffff;
  &__wrap{
    .wrap();
    text-align: center;
    font-size: 0;
    padding: 85px 0 80px 0;
  }
  &__block{
    width: 270px;
    display: inline-block;
    margin-left: 30px;
    &:first-child{
      margin-left: 0;
    }
  }
  &__number{
    font-size: 70px;
    margin-top: 35px;
  }
  &__comment{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 10px;
  }
}