.name-block{
  font-size: 68px;
  font-weight: bold;
  text-transform: uppercase;
  width: 370px;
  box-sizing: border-box;
  line-height: 62px;
  color: #363636;
  border-bottom: 10px solid #363636;
}