.our-team{
  &__wrap{
    padding: 100px 0 140px 0;
    .wrap();
  }
  &__block-wrapped{
    margin: 80px 0 50px 0;
    font-size: 0;
  }
  &__block{
    display: inline-block;
    width: 370px;
    height: 390px;
    margin-right: 30px;
    &:last-child{
      margin-right: 0;
    }
  }
  &__avatar{
    width: 170px;
    height: 170px;
    background: #cccccc;
    border-radius: 85px;
    float: left;
  }
  &__social{
    margin: 60px 0 0 -30px;
    float: left;
  }
  &__button-social{
    display: inline-block;
    width: 50px;
    height: 50px;
    background: @color-basic url("img/sprites-social.png") no-repeat 0 50%;
    border-radius: 25px;
    margin-left: 10px;
    &:first-child{
      margin-left: 0;
    }
    &_tw{
      background-position: 15px;
    }
    &_fb{
      background-position: -26px;
    }
    &_inst{
      background-position: -67px;
    }
  }
  &__worker{
    float: left;
    margin: 50px 0 0 100px;
  }
  &__name-worker{
    font-size: 16px;
    color: @color-basic;
    text-transform: uppercase;
    font-weight: bold;
  }
  &__profession-worker{
    font-size: 12px;
    color: #a8a8a8;
    margin-top: 15px;
  }
  &__description-worker{
    font-size: 13px;
    margin-top: 30px;
    line-height: 1.5;
  }
}