.our-skills{
  &__wrap{
    .wrap();
    padding: 100px 0 140px 0;
    font-size: 0;
  }
  &__position{
    display: inline-block;
  }
  &__circles{
    margin: 80px 30px 50px 0;
  }
  &__circle{
    width: 170px;
    height: 170px;
    display: inline-block;
    margin-left: 30px;

    &:first-child{
      margin-left: 0;
    }
    &_first{
      background-image: url("img/circle-1.png");
    }
    &_second{
      background-image: url("img/circle-2.png");
    }
    &_third{
      background-image: url("img/circle-1.png");
    }
    &_fourth{
      background-image: url("img/circle-3.png");
    }
  }
  &__percent{
    font-size: 16px;
    color: @color-basic;
    font-weight: bold;
    text-align: center;
    line-height: 170px;
  }
  &__abouts{
    margin-left: 100px;
    width: 670px;
  }
  &__name{
    font-size: 16px;
    color: @color-basic;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 30px;
  }
  &__about{
    font-size: 13px;
    color: #363636;
    line-height: 1.5;
  }
  &__spoilers{
    margin-top: 80px;
    display: inline-block;
    vertical-align: top;
  }
  &__spoiler{
    color:#898989;
    margin-bottom: 10px;
    &[open]{
      color: @color-basic;
      .our-skills__button{
        &:after {
          float: right;
          font-weight: normal;
          content: " - ";
        }
        &:before{
          background-color: @color-basic;
        }
      }
    }
  }
  &__button{
    position: relative;
    box-sizing: border-box;
    width: 370px;
    height: 50px;
    line-height: 50px;
    cursor: pointer;
    font-size: 13px;
    border-radius: 10px;
    border: 1px solid #ebebeb;
    font-weight: bolder;
    padding: 0 20px 0 60px;
    &:before{
      position: absolute;
      display: block;
      line-height: normal;
      background-color: #898989;
      left: 20px;
      top: 0;
      bottom: 0;
      margin: auto;
    }
    &_rocket{
      &:before{
        content: url("img/spoiler-1.png");
        width: 22px;
        height: 22px;
      }
    }
    &_lock{
      &:before{
        content: url("img/spoiler-2.png");
        width: 16px;
        height: 21px;
      }
    }
    &_cursor{
      &:before{
        content: url("img/spoiler-3.png");
        width: 19px;
        height: 19px;
      }
    }
    &_phone{
      &:before{
        content: url("img/spoiler-4.png");
        width: 19px;
        height: 19px;
      }
    }
    &_book{
      &:before{
        content: url("img/spoiler-5.png");
        width: 23px;
        height: 21px;
      }
    }
    &:focus{
      outline: none;
    }
    &::-webkit-details-marker {
      display: none;
    }
    &:after {
      float: right;
      font-weight: normal;
      content: " + ";
    }
  }
  &__text{
    width: 320px;
    margin: 20px 20px 30px;
    line-height: 1.5;
    color: #363636;
    font-size: 13px;
  }

}