.our-services {
  background: @color-basic;
  &__wrap{
    color: #ffffff;
    padding: 50px 0 50px 0;
    .wrap();
  }
  &__name-block{
    color: white;
    border-bottom: 10px solid white;
    float: left;
  }
  &__block{
    width: 370px;
    height: 100px;
    display: inline-block;
    margin: 60px 0 0 30px;
    &:nth-child(1),
    &:nth-child(2){
      margin-top: 0;
    }
  }
  &__icon{
    float: left;
    margin-right: 30px;
  }
  &__name{
    margin-top: 10px;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
  }
  &__text{
    margin-top: 15px;
    font-size: 12px;
    line-height: 1.5;
  }
}