.our-works{
  background: #ebebeb;
  font-size: 0;
  &__wrap{
    padding: 100px 0 140px 0;
    .wrap();
  }
  &__name-block{
    float: none;
    border-bottom: 10px solid #363636;
  }
  &__wrapped{
    float: left;
    margin-top: 60px;
  }
  &__gallery{
    display: inline-block;
    background: #cccccc;
    width: 370px;
    height: 370px;
    margin: 0 30px 30px 0;
    &:nth-child(3n+3){
      margin-right: 0;
    }
    &:hover{
      .our-works{
        &__name-hover{
          display: table-cell;
        }
      }
    }
  }
  &__button{
    float: left;
    margin: 30px 10px 0 0;
  }
  &__name-hover{
    position: relative;
    top: 270px;
    height: 100px;
    width: 370px;
    background: #ffffff;
    font-size: 16px;
    display: none;
    text-align: center;
    vertical-align: middle;
  }
  &__name-preject{
    color: @color-basic;
    text-transform: uppercase;
    font-weight: bold;
  }
  &__comment{
    color: #a8a8a8;
    font-size: 12px;
    padding-top: 18px;
  }
}