.slider{
  padding: 55px 0 30px 0;
  background: #666666;
  color: #ffffff;
  box-sizing: border-box;
  &__text{
    margin: 0 auto;
    width: 770px;
    font-size: 34px;
    font-family: sans-serif;
    text-align: center;
    line-height: 1.2;
  }
  &__avtor-avatar{
    width: 70px;
    height: 70px;
    margin: 15px auto 0;
    background: #cccccc;
    border-radius: 35px;
  }
  &__avtor-name{
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
    font-family: sans-serif;
    text-transform: uppercase;
  }
  &__circle-wrap{
    font-size: 0;
    text-align: center;
  }
  &__circle{
    width: 5px;
    height: 5px;
    border: 2px solid #ffffff;
    border-radius: 5px;
    display: inline-block;
    margin: 30px 10px 0 0;
    &:last-child{
      margin-right: 0;
    }
    &:hover{
      background: #ffffff;
    }
  }
}