.subcribe{
  background: @color-basic;
  &__wrap{
    height: 80px;
    .wrap();
  }
  &__form{
    text-align: center;
    line-height: 80px;
  }
  &__email{
    background: @color-basic;
    border: none;
    color: #ffffff;
    width: 370px;
    height: 30px;
    font-size: 30px;
    vertical-align: middle;
    &::-webkit-input-placeholder{
      color: #ffffff;
    }
    &::-moz-placeholder{
      color: #ffffff;
    }
    &:-ms-input-placeholder {
      color: #ffffff;
    }
    &:-moz-placeholder {
      color: #ffffff;
    }
    &:focus{
      outline: none;
    }
  }
  &__button-subcribe{
    background: #ffffff;
    margin-left: 110px;
    cursor: pointer;
    &:hover{
      background: #ffffff;
      color: @color-basic;
    }
    &:active{
      background: darken(@color-basic, 30%);
      border-color: darken(@color-basic, 30%);
      color: #ffffff;
    }
  }
}

